
/* the whole page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.alias {
  cursor:  alias;
}

::selection {
  background: lightgreen;
}

@font-face {
  font-family: 'gangster';
  src: url(fonts/gangstergrotesk-regular.woff);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'gangster-bold';

  src: url(fonts/gangstergrotesk-bold.woff);
  font-style: normal;
  font-weight: 100;
}

html {
  font-family: "gangstergrotesk", "Bitstream Vera Serif", sans-serif;
}


a.links:link {
  color: black;
  text-decoration: none;

}

a.links:visited{
  color: black;
  text-decoration: none;

}

a.links:hover {

  background-color: lightgreen;

}

 a.links:active {
  background-color: lightgreen ;

 }

 a.links-main:link {
   color: black;
   text-decoration: none;

 }

 a.links-main:visited{
   color: black;
   text-decoration: none;

 }

 a.links-main:hover {

   background-color: none;

 }

  a.links-main:active {
   background-color: none ;

  }

.page-container{
  position: relative;
  min-height: 100vh;

}

.content-wrap {
  min-height: calc(100vh - 100px);
  padding-bottom: 100px;
}



.copyright {
font-family: gangster;
position: fixed;
left:0;
writing-mode: vertical-rl;
text-orientation: sideways-right;
padding-left: 5px;
bottom: 10%;
}

.contact {
  position: fixed;
  right:0;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  padding-right: 5px;
  bottom: 10%;
}

ul {
  list-style-type: none;
}
li {
  font-family: gangster;
  z-index: -1;
    list-style-type: none;
}

em{
  font-size: 40px;
}
b.{
  font-family: gangster-bold;
}

p{
font-family: gangster;
  }

  .menu-container {
    color: black;
    background-color: none;  /* Blue */
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    max-width: 100%;
    flex-wrap: wrap;

  }

  .menu {
    max-width: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    text-decoration: none;
    flex-direction: column;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 20px;
  }

  .menu-items {
    position: fixed;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    align-self: center;
    font-size: 78px;
    padding-top: 10px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,1), rgba(255,0,0,0));

  }

  .item {
  font-family: gangster;
  padding: 10px;
  }

  a.item:link {
    text-decoration: none;
    color: black;
  }

  a.item:visited {
    text-decoration: none;
    color: black;
  }

  a.item:hover {
    text-decoration: none;
    color: black;
    background-color: lightgreen;
  }

  .yazivefoto {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
  }


  .login {
    font-family: gangster;
    display: flex;
    justify-content: center;
    position: fixed;
    max-width: 100%;
    height: auto;
    align-self: center;
    align-items: baseline;
    font-size: 80px;
    padding-top: 10px;
  }

  .in {
    padding: none;
  }

  a.in:link {
    text-decoration: none;
    color: black;
  }

  a.in:visited {
    text-decoration: none;
    color: black;
  }

  a.in:hover {
    text-decoration: none;
    background-color: lightgreen;
  }
  a.in:hover {
    text-decoration: none;
    background-color: lightgreen;
  }

  a.login:link {
    text-decoration: none;
    color: black;
  }

  a.login:visited {
    text-decoration: none;
    color: black;
  }

  a.login:hover {
    text-decoration: none;
    background-color: lightgreen;
  }

  /* body */



   .photo-grid-container-main {
     display: flex;
     justify-content:center;
     align-self: flex-end;
     padding-bottom: 0px;
     overflow: hidden;
     flex-wrap: wrap;
     max-width: 100%;
     height: auto;
     margin: auto;
     flex-direction: row;
     padding-top: 50px;
     align-content: flex-end;
   }

   .photo-grid-main {
     padding-top: 0px;
     max-width: 100%;
     height: auto;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     flex-direction: row;
     align-self: flex-end;
       align-content: flex-end;
       font-size: 0px;
       overflow: hidden;
    }

    .photo-grid-item-main {
      display: block;
      height: 300px;
    width: 480px;
      overflow: hidden;
    /*  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    /* filter: grayscale(100%);*/
    }

  a.alias:hover {

  /*  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
/*     filter: grayscale(100%); */

  -webkit-filter: invert(1);
  filter: invert(1);
  }


  /* footer */
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 100px;
    flex-shrink: 0;
    padding-top: 20px;

  }
  .footer-item {
    display: flex;
    justify-content: center;
  }
  .adres {
    display: inline-block;
    justify-content: center;
   }
  .copyright-bottom {
    padding-top: 10px;
  }


  /* Mobile Styles */
  @media only screen and (max-width: 375px) {
    .menu-container {
      color: black;
      background-color: none;  /* Blue */
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      max-width: 100%;
      flex-wrap: wrap;

    }

    .menu {
      max-width: 100%;
      width: 100vw;
      display: flex;
      justify-content: center;
      overflow: hidden;
      flex-wrap: wrap;
      text-decoration: none;
      flex-direction: column;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 0px;
    }
    .menu-items {
      font-family: gangster;
      display: flex;
      justify-content: flex-start;
      max-width: 100%;
      height: auto;
      align-self: center;
      align-items: baseline;
      font-size: 2em;
      padding-top: 30px;
    }


    .photo-grid-item-main {
      display: block;
      max-width: 50vw;
      height: auto;
      overflow: hidden;
    }



}

  /* Tablet Styles */
  @media only screen and (min-width: 375px) and (max-width: 800px) {
    .menu-container {
      color: black;
      background-color: none;  /* Blue */
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      max-width: 100%;
      flex-wrap: wrap;

    }

    .menu {
      max-width: 100%;
      width: 100vw;
      display: flex;
      justify-content: center;
      overflow: hidden;
      flex-wrap: wrap;
      text-decoration: none;
      flex-direction: column;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 0px;
    }
    .menu-items {
      font-family: gangster;
      display: flex;
      justify-content: flex-start;
      max-width: 100%;
      height: auto;
      align-self: center;
      align-items: baseline;
      font-size: 2em;
      padding-top: 40px;
    }

    .photo-grid-item-main {
      display: block;
      max-width: 50vw;
      height: auto;
      overflow: hidden;
    }

     }

 /* Desktop Styles */
 @media only screen and (min-width: 800px) {




   /* header */




 }
